.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//Semantic UI theming
.ui {
    .mycolor {
        .button {
            background-color: #222288;
            color: #111122;

        }
    }
}

// CUSTOM
h3 {
    font-size: 1.125rem;
}

.clickable {
    cursor: pointer;
}

.wepi {
    &-side {
        float: right;
        $spacing: 2.125rem;
        &-language {
            margin-top: -7*$spacing;
            text-transform: uppercase;
        }
        &-rating {
            margin-top: -8*$spacing;
        }
        &-print {
            margin-top: -6*$spacing;
        }
        &-download {
            margin-top: -5*$spacing;
        }
    }
    &-thumb {
        min-height: 220px;
    }
    &-description {
    }

}
